$color__primary: #1B3C53;
$color__primary__light: #456882;
// $color__primary__lighter: #34699A;
$color__secondary: #D2C1B6;
$color__secondary__light: #F9F3EF;

$color__text__primary: #000;
$color__white: #fff;